
@import url(https://fonts.googleapis.com/css?family=Epilogue:400,800);
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
@import url("reset.css");
@import url("fonts.css");

.wrapper {
height: 100%; 
overflow: hidden;
}

.ex1  div{
color: #EF6D58;
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 200%;
letter-spacing: 3px;
text-transform: uppercase;
width: 93px;
height: 32px;
margin-bottom: 20px;
}
.ex1 {
   width: 1300px;
   margin: 0 auto;
   display:block;
   padding-inline: 15px;
   background: 
    url("../img/face.png") 50% 1% no-repeat,
    url("../img/table.png") 70% 35% no-repeat,
    url("../img/rectangle.png") 70% 90% no-repeat, 
    url("../img/rectangle2.png") 70% 1% no-repeat,  
    url("../img/path.png") 55% 90% no-repeat;
   background-color: #FDF0E9;
  
}

.title1 {
color: #391400;
font-family: Epilogue;
font-size: 56px;
font-style: normal;
font-weight: 800;
line-height: 114.286%;
letter-spacing: -1px;
width: 397px;
height: 128px;
margin-bottom: 26px;
}

.ex1 p {
color: #391400;
font-family: Epilogue;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 160%;
margin-bottom: 26px;
}

.ex1 li {
color: darkgrey;  
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 230%;
background-image: url("../img/check.png");
background-repeat: no-repeat;
padding-left: 50px;
margin-top: 26px;
}

.point {
color: transparent;
}

.container2 {
width: 1770px;
height: 1200px; 
margin: 0 auto;
display: inline-block;
padding-inline: 15px;

background:
linear-gradient(180deg, rgba(20, 20, 20, 0.00) 0%, #141414 100%),
url("../img/icon_glass.png") 1530px 30px no-repeat,
url("../img/icon_bell.png") 1600px 30px no-repeat, 
url("../img/vector1.png") 215px 5px no-repeat,
url("../img/vector1.png") 215px 5px no-repeat,
url("../img/StreamVibe.png") 280px 20px no-repeat,
url("../img/Image.png") no-repeat,
url("../img/AbstractDesign.png") center 150px no-repeat,
url("../img/Image0.png") left top no-repeat,
url("../img/Image1.png") 200px top no-repeat,
url("../img/Image2.png") 400px top no-repeat,
url("../img/Image3.png") 600px top no-repeat,
url("../img/Image4.png") 800px top no-repeat,
url("../img/Image5.png") 1000px top no-repeat,
url("../img/Image6.png") 1200px top no-repeat,
url("../img/Image7.png") 1400px top no-repeat,
url("../img/Image8.png") 1600px top no-repeat,
url("../img/Image9.png") 0px 205px no-repeat,
url("../img/Image10.png") 200px 205px no-repeat,
url("../img/Image11.png") 400px 205px no-repeat,
url("../img/Image12.png") 600px 205px no-repeat,
url("../img/Image13.png") 800px 205px no-repeat,
url("../img/Image14.png") 1000px 205px no-repeat,
url("../img/Image15.png") 1200px 205px no-repeat,
url("../img/Image16.png") 1400px 205px no-repeat,
url("../img/Image17.png") 1600px 205px no-repeat,
url("../img/Image18.png") 0px 412px no-repeat,
url("../img/Image19.png") 200px 412px no-repeat,
url("../img/Image20.png") 400px 412px no-repeat,
url("../img/Image21.png") 600px 412px no-repeat,
url("../img/Image22.png") 800px 412px no-repeat,
url("../img/Image23.png") 1000px 412px no-repeat,
url("../img/Image24.png") 1200px 412px no-repeat,
url("../img/Image25.png") 1400px 412px no-repeat,
url("../img/Image26.png") 1400px 412px no-repeat,
url("../img/Image27.png") 1600px 412px no-repeat,
url("../img/Image28.png") 0px 617px no-repeat,
url("../img/Image29.png") 200px 617px no-repeat,
url("../img/Image30.png") 400px 617px no-repeat,
url("../img/Image31.png") 600px 617px no-repeat,
url("../img/Image32.png") 800px 617px no-repeat,
url("../img/Image33.png") 1000px 617px no-repeat,
url("../img/Image34.png") 1200px 617px no-repeat,
url("../img/Image35.png") 1400px 617px no-repeat,
url("../img/Image36.png") 1600px 617px no-repeat;
background-color: black;}

.buttoms{
   margin-left: 600px;
   text-align: center;
   display: inline-block;
   min-width: 555px;
   min-height: 75px;
   background-color: black;
   border: green;
   border-radius: 12px;
   

}
.buttom1 {
   display: inline-block;
   color: #FFF;
   font-family: Manrope;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 150%;
   border: 24px #1A1A1A;
   border-radius: 10px;
   background-color: #1A1A1A;
   text-align: center;
   margin-top: 17px;
   margin-inline: 8px;
   width: 100px;
   height: 50px;

  
}
.buttom {
   display: inline-block;
   color: #FFF;
   font-family: Manrope;
   font-size: 18px;
   font-style: normal;
   font-weight: 500;
   line-height: 150%;
background-color: black;
margin-inline: 20px;

}
.title3 {
color: #FFF;
text-align: center;
font-family: Manrope;
font-size: 58px;
font-style: normal;
font-weight: 700;
line-height: 150%; 
margin-top: 650px;
}
.text3  {
color: #999;
text-align: center;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}


.red_buttom {
color: #FFF;
font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 150%;
width: 220px;
height: 50px;
border-radius: 8px;
border: 8px solid red;
padding-top: 20px; 
padding-left: 60px;
margin-left: 700px;
margin-top: 40px;
background:
url("../img/buttom.png") 20px center no-repeat;
background-color: red;
}